@import "Null.scss";
@import "media.scss";


header{
	background: rgb(69,72,77);
background: -moz-linear-gradient(left, rgb(255, 255, 255) 50%, 
rgba(241, 234, 220, 1) 50%);
background: -webkit-linear-gradient(left, rgb(255, 255, 255) 50%,
rgba(241, 234, 220, 1) 50%);
background: linear-gradient(to right, rgb(255, 255, 255) 50%,
rgba(241, 234, 220, 1) 50%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
 width: 100%;
height: 826px;
padding: 54px 20px 0px 20px;
}



.conteiner{
	max-width: 1110px;
	margin: 0 auto;
	padding: 0px 20px 0px 20px;
}

.header{
    width: 100%;
	height: 28px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 45px;
}

.header__menu{
	ul{
		display: flex;
		li{
			padding-right: 45px;
			font-size: 15px;
			a{
				color: #000;
			}
		}
	}
	.items-menu--active{
		color: rgba(110, 156, 159, 1);
	}
}


.header__img img{
	padding-right: 16px;
}




.header__contact{
	span{
		font-size: 15px;
	}
}


.header__content{
	display: flex;
	justify-content: space-between;
}


.header__block-left{
	padding-top: 125px;
}

.header__title{
	font-size: 55px;
	letter-spacing: 2%;
	font-weight: 500;
	h1{
		max-width: 585px;
	}
}

.header__subtitle{
	margin: 45px 0px 52px 0px;
	font-size: 20px;
	letter-spacing: 2%;
	text-align: right;
	line-height: 28px;
	p{
		max-width: 385px;
	}
}

.header__btn-shop a{
	padding: 23.5px 54px;
	background-color: rgba(110, 156, 159, 1);
	color: #fff;
	font-size: 17px;
	text-align: center;
	letter-spacing: 2%;
}

.header__btn-shop{
    display: flex;
	justify-content: center;
	align-items: center;
	order: 2;
}

.header__btn{
display: flex;
}

.header__arrow{
	order: 1;
	padding: 17.5px 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(110, 156, 159, 0.1);
}

.header__slider{
	max-width: 300px;
	margin-top: 126px;
	display: flex;
	justify-content: flex-end;
}

.header__slider-info-icon-center{
	margin-right: 20px;
	width: 30px;
	height: 3px;
	background-color: #000;
	order: 2;
}


.header__slider-info-icon-left{
	margin-right: 20px;
	width: 30px;
	height: 3px;
	background-color: rgba(209, 209, 209, 1);
	order: 1;
}

.header__slider-info-icon-right{
	margin-right: 20px;
	width: 30px;
	height: 3px;
	background-color: rgba(209, 209, 209, 1);
	order: 3;
}

.header__block-right{
}

.header__img0{
	
}

.header__img1{
    margin: -500px 0px 0px 255px;
}

.header__img2{
   margin: 0px 0px 0px -100px;
}


//block 1 row coll


.collection{
	width: 100%;
	height: 1083px;
}

.collection__content{
	padding-top: 200px;
}

.title{
	font-size: 40px;
	line-height: 44px;
	font-weight: 500;
	letter-spacing: 2%;
	margin-bottom: 92px;
}

.collection__column{
	margin-bottom: 50px;
}

.collection__row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.collection__info{
	span{
		padding-left: 10px;
		color: rgba(153, 142, 120, 1);
	}
}

.collection__info p:first-child{
	font-size: 20px;
	display: flex;
	justify-content: center;
}

.collection__info p:last-child{
	color: rgba(156, 156, 156, 1);
	display: flex;
	justify-content: center;
	line-height: 21px;
	font-weight: 500;
	font-size: 15px;
}

.collection__btn{
	display: flex;
	justify-content: center;
}

.collection__btn a{
	padding: 21px 46px;
	color: rgba(110, 156, 159, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 17px;
	text-align: center;
	outline: 1px solid rgba(110, 156, 159, 1);
}



//block info - 3

.info{
	width: 100%;
	height: 560px;
}

.info__icon--active img{

}

.info__shell{
	height: 380px;
}

.info__content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 300px;
}

.info__column{
   max-width: 305px;
   height: 255px;
}

.info__info{
	font-size: 25px;
	line-height: 35px;
	letter-spacing: 2%;
	font-weight: 500;
	margin: 24px 0px 24px 0px;
}

.info__text{
	font-size: 17px;
	line-height: 140%;
	font-weight: 500;
	letter-spacing: 0.02em;
}


//block 4

.info-slider{
	width: 100%;
	height: 800px;
}

.info-slider__img {
	position: relative;
}

.info__slider{
	position: absolute;
	bottom: 50px;
	left: 280px;
	max-width: 300px;
	margin-top: 126px;
	display: flex;
	justify-content: center;
}

.info__slider-info-icon-center{
	background-color: rgba(255, 255, 255, 1);
	margin-right: 25px;
	height: 4px;
	width: 30px;
	order: 2;
}

.info-slider__block-left{
	margin-right: 100px;
}


.info__slider-info-icon-right{
	width: 30px;
	height: 4px;
	background-color: rgba(209, 209, 209, 1);
	order: 3;
	margin-right: 20px;
}

.info__slider-info-icon-left{
	width: 30px;
	margin-right: 25px;
	height: 3px;
	background-color: rgba(209, 209, 209, 1);
	order: 1;
}

.info-slider__arrow-left{
	position: absolute;
	left: -60px;
	top: 250px;
}

.info-slider__arrow-right{
	position: absolute;
	right: -60px;
	top: 250px;
}

.info-slider__shell{
   display: flex;
   justify-content: space-between;
}


.info-slider__block-right{
	display: flex;
	align-items: center;
}

.info-slider__info{
	h4{
		font-size: 25px;
		font-weight: 500;
		line-height: 35px;
		letter-spacing: 2%;
		margin-bottom: 25px;
	}
	p{
		font-size: 17px;
		margin-bottom: 25px;
		max-width: 830px;
	}
	a{
	    color: rgba(110, 156, 159, 1);
	}
}

.info__icon img{
	width: 70px;
}

footer{
	width: 100%;
	height: 363px;
	background-color: rgba(241, 234, 220, 1);
}


.footer__shell{
	height: 363px;
	padding-top: 102px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer__copyright{
	font-size: 13px;
	line-height: 18.2px;
	p{
		margin-top: 60px;
	}
}

.footer__navigator{
	display: flex;
	ul{
		padding-right: 50px;
		h4{
			margin-bottom: 30px;
		}
		li{	
				margin-bottom: 10px;
		}
	}
}

.footer__contact{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	text-align: right;
}

.footer__mesenger{
	display: flex;
	justify-content: flex-end;
	img{
		padding-right: 25px;
	}
}

.footer__img-m--active img{
	padding: 0px;
}

.footer__visa{
	display: flex;
	justify-content: flex-end;
	padding-top: 20px;
}

.footer__text p{
	padding: 10px 0px 20px 0px;
}

.footer__logo img{
	margin-top: -5px;
}

@media all and(max-width: 1180px){
	.title{
	 text-align: center;
}
.info-slider{
	width: 100%;
	height: 950px;
}

.info-slider__img img{
	position: relative;
	display: flex;
	width: 750px;
}

.info__slider{
	position: absolute;
	bottom: 30px;
	left: 295px;
	max-width: 300px;
	margin-top: 126px;
	justify-content: center;
}	

.info__slider-info-icon-center{
	background-color: rgba(255, 255, 255, 1);
	margin-right: 25px;
	height: 4px;
	width: 30px;
	order: 2;
}

.info-slider__block-left{
	 display: flex;
	justify-content: center;
	 margin: 0px 0px 50px 0px;
	 width: 100%;
}


.info__slider-info-icon-right{
	width: 30px;
	height: 4px;
	background-color: rgba(209, 209, 209, 1);
	order: 3;
	
}

.info__slider-info-icon-left{
	width: 30px;
	margin-right: 25px;
	height: 4px;
	background-color: rgba(209, 209, 209, 1);
	order: 1;
}

.info-slider__arrow-left{
	position: absolute;
	left: 30px;
	top: 250px;
}

.info-slider__arrow-right{
	position: absolute;
	right: 30px;
	top: 250px;
}

.info-slider__arrow-right img{
   width: 40px;
}
.info-slider__arrow-left img{
	width: 40px;
 }

.info-slider__shell{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.info-slider__block-right{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	p{
		max-width: 100%;
	}
}

.info-slider__info{
	h4{
		font-size: 38px;
		font-weight: 500;
		line-height: 35px;
		letter-spacing: 2%;
		margin-bottom: 25px;
	}
	a{
		color: rgba(110, 156, 159, 1);
		font-size: 26px;
	}
}

	
}

@media all and (max-width: 1150px){
    .header{
        width: 100%;
        height: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
        padding-right: 30px;
    }
    
}


@media all and(max-width: 1000px){
	.collection{
		height: 1700px;
	}
	.info-slider{
		width: 100%;
		height: 950px;
	}
	
	.info-slider__img img{
		position: relative;
		display: flex;
	}
	
	.info__slider{
		position: absolute;
		bottom: 30px;
		left: 280px;
		max-width: 300px;
		margin-top: 126px;
		justify-content: center;
	}	
	
	.info__slider-info-icon-center{
		background-color: rgba(255, 255, 255, 1);
		margin-right: 25px;
		height: 4px;
		width: 30px;
		order: 2;
	}
	
	.info-slider__block-left{
		 display: flex;
	    justify-content: center;
		 margin: 0px 0px 50px 0px;
		 width: 100%;
	}
	
	
	.info__slider-info-icon-right{
		width: 30px;
		height: 4px;
		background-color: rgba(209, 209, 209, 1);
		order: 3;
		
	}
	
	.info__slider-info-icon-left{
		width: 30px;
	    margin-right: 25px;
		height: 4px;
		background-color: rgba(209, 209, 209, 1);
		order: 1;
	}
	
	.info-slider__arrow-left{
		position: absolute;
		left: 30px;
		top: 250px;
	}
	
	.info-slider__arrow-right{
		position: absolute;
		right: 30px;
		top: 250px;
	}

	.info-slider__arrow-right img{
	   width: 40px;
	}
	.info-slider__arrow-left img{
		width: 40px;
	 }
	
	.info-slider__shell{
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
	
	
	.info-slider__block-right{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
		p{
			max-width: 100%;
		}
	}
	
	.info-slider__info{
		h4{
			font-size: 38px;
			font-weight: 500;
			line-height: 35px;
			letter-spacing: 2%;
			margin-bottom: 25px;
		}
		a{
			color: rgba(110, 156, 159, 1);
			font-size: 26px;
		}
	}
}

@media all and (max-width: 960px){
	header{
		height: 686px;
	}
	.header__menu{
		ul{
			display: none;
			li{
				padding-right: 45px;
				font-size: 15px;
				a{
					color: #000;
				}
			}
		}
	}
    .header{
        width: 100%;
        height: 28px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 45px;
        padding-right: 30px;
		.header__icon img{
            width: 200px;
		}
		.header__img img{
			padding-right: 16px;
			width: 38px;
		}
		span{
			font-size: 20px;
		}
		.header__icon-shop{
			img{
				width: 35px;
			}
		}
    }
	.header__block-right{
		display: none;
	}
	.header__content{
		display: flex;
		justify-content: center;
		text-align: center;
		.header__subtitle{
			margin: 45px 0px 52px 0px;
			font-size: 23px;
			letter-spacing: 2%;
			text-align: center;
			line-height: 28px;
			p{
				max-width: 600px;
			}
		}
		.header__btn{
			display: flex;
			justify-content: center;
		}
		.header__slider{
			max-width: 500px;
     	    margin-top: 126px;
	        display: flex;
	        justify-content: flex-end;
		}
	}
	.header__title{
		font-size: 55px;
		letter-spacing: 2%;
		font-weight: 500;
		h1{
			max-width: 585px;
		}
	}
	.info__content{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		height: 300px;
	}
	
	.info__column{
	   max-width: 305px;
	   height: 255px;
	}
	
	.info__info{
		font-size: 26px;
		line-height: 35px;
		letter-spacing: 2%;
		font-weight: 500;
		margin: 24px 0px 24px 0px;
	}
	
	.info__text{
		font-size: 18px;
		line-height: 140%;
		font-weight: 500;
		letter-spacing: 0.02em;
	}
	
}





@media all and (max-width: 960px){
	.header__menu{
		ul{
			display: none;
			li{
				padding-right: 45px;
				font-size: 15px;
				a{
					color: #000;
				}
			}
		}
	}
    .header{
        width: 100%;
        height: 28px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 45px;
        padding-right: 30px;
		.header__icon img{
            width: 200px;
		}
		.header__img img{
			padding-right: 16px;
			width: 38px;
		}
		span{
			font-size: 20px;
		}
		.header__icon-shop{
			img{
				width: 35px;
			}
		}
    }
	.header__block-right{
		display: none;
	}
	.header__content{
		display: flex;
		justify-content: center;
		text-align: center;
		.header__subtitle{
			margin: 45px 0px 52px 0px;
			font-size: 23px;
			letter-spacing: 2%;
			text-align: center;
			line-height: 28px;
			p{
				max-width: 600px;
			}
		}
		.header__btn{
			display: flex;
			justify-content: center;
		}
		.header__slider{
			max-width: 500px;
     	    margin-top: 126px;
	        display: none;
	        justify-content: flex-end;
		}
	}
	.header__title{
		font-size: 55px;
		letter-spacing: 2%;
		font-weight: 500;
		h1{
			max-width: 585px;
		}
	}
	.collection{
		height: 1700px;
	}
	.info-slider{
		width: 100%;
		height: 950px;
	}
	
	.info-slider__img img{
		position: relative;
		display: flex;
	}
	
	.info__slider{
		position: absolute;
		bottom: 30px;
		left: 280px;
		max-width: 300px;
		margin-top: 126px;
		justify-content: center;
	}	
	
	.info__slider-info-icon-center{
		background-color: rgba(255, 255, 255, 1);
		margin-right: 25px;
		height: 4px;
		width: 30px;
		order: 2;
	}
	
	.info-slider__block-left{
		 display: flex;
	    justify-content: center;
		 margin: 0px 0px 50px 0px;
		 width: 100%;
	}
	
	
	.info__slider-info-icon-right{
		width: 30px;
		height: 4px;
		background-color: rgba(209, 209, 209, 1);
		order: 3;
		
	}
	
	.info__slider-info-icon-left{
		width: 30px;
	    margin-right: 25px;
		height: 4px;
		background-color: rgba(209, 209, 209, 1);
		order: 1;
	}
	
	.info-slider__arrow-left{
		position: absolute;
		left: 30px;
		top: 250px;
	}
	
	.info-slider__arrow-right{
		position: absolute;
		right: 30px;
		top: 250px;
	}

	.info-slider__arrow-right img{
	   width: 50px;
	}
	.info-slider__arrow-left img{
		width: 50px;
	 }
	
	.info-slider__shell{
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
	
	
	.info-slider__block-right{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
		p{
			max-width: 100%;
		}
	}
	
	.info-slider__info{
		h4{
			font-size: 38px;
			font-weight: 500;
			line-height: 35px;
			letter-spacing: 2%;
			margin-bottom: 25px;
		}
		a{
			color: rgba(110, 156, 159, 1);
			font-size: 26px;
		}
	}
}


@media all and(max-width: 954px){
	.info{
		width: 100%;
		height: 760px;
	}
	
}


@media all and(max-width: 769px){
    .header__img{
		display: flex;
	}
	footer{
		width: 100%;
		height: 363px;
		background-color: rgba(241, 234, 220, 1);
	}
	
	
	.footer__shell{
		height: 363px;
		padding-top: 102px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.footer__copyright{
		font-size: 13px;
		line-height: 18.2px;
		padding-right: 30px;
		p{
			margin-top: 60px;
		}
	}
	
	.footer__navigator{
		display: flex;
		ul{
			padding-right: 50px;
			h4{
				margin-bottom: 30px;
			}
			li{	
					margin-bottom: 10px;
			}
		}
	}
	
	.footer__contact{
		width: 100%;
		padding-top: 50px;
		display: flex;
		flex-direction: row;
		align-content: flex-end;
		text-align: right;
		justify-content: center;
	}
	
	.footer__mesenger{
		display: flex;
		justify-content: flex-end;
		img{
			padding: 0px 25px 0px 25px;
		}
	}
	
	.footer__img-m--active img{
		padding: 0px 25px 0px 25px;
	}
	
	.footer__visa{
		padding: 0px 0px 0px 25px;
		display: flex;
		align-items: center;
		img{
			width: 90px;
		}
	}
	
	.footer__text p{
		padding: 0px 50px 0px 50px;
	}
	
	.footer__logo img{
		margin-top: -5px;
	}
}




@media all and (max-width: 760px){
	.header__menu{
		ul{
			display: none;
			li{
				padding-right: 45px;
				font-size: 15px;
				a{
					color: #000;
				}
			}
		}
	}
    .header{
        width: 100%;
        height: 28px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 45px;
        padding-right: 30px;
		.header__icon img{
            width: 250px;
		}
		.header__img img{
			padding-right: 16px;
			width: 38px;
		}
		span{
			font-size: 20px;
		}
		.header__icon-shop{
			img{
				width: 40px;
			}
		}
    }
	.header__block-right{
		display: none;
	}
	.header__content{
		display: flex;
		justify-content: center;
		text-align: center;
		.header__subtitle{
			margin: 45px 0px 52px 0px;
			font-size: 20px;
			letter-spacing: 2%;
			text-align: center;
			line-height: 28px;
			p{
				max-width: 600px;
			}
		}
		.header__btn{
			display: flex;
			justify-content: center;
			.header__btn-shop a{
				padding: 23.5px 54px;
				background-color: rgba(110, 156, 159, 1);
				color: #fff;
				font-size: 24px;
				text-align: center;
				letter-spacing: 3.5%;
			}
			.header__arrow-img img{
				width: 21px;
			
			}
		}
		.header__slider{
			max-width: 500px;
     	    margin-top: 126px;
	        display: none;
	        justify-content: flex-end;
		}
		.header__slider-info-icon-center{
			margin-right: 20px;
			width: 38px;
			height: 4.5px;
			background-color: #000;
			order: 2;
		}
	}
	.header__title{
		font-size: 60px;
		letter-spacing: 2%;
		font-weight: 500;
		h1{
			max-width: 585px;
		}
	}
	.header__subtitle{
		margin: 45px 0px 52px 0px;
		letter-spacing: 2%;
		text-align: center;
		line-height: 32px;
		p{
			max-width: 885px;
			font-size: 26px;
		}
	}
	.collection{
		width: 100%;
		height: 2150px;
		display: flex;
		justify-content: center;
	}
	
	.collection__content{
		padding-top: 200px;
	}
	
	.title{
		font-size: 40px;
		line-height: 44px;
		font-weight: 500;
		letter-spacing: 2%;
		margin-bottom: 92px;
	}
	
	.collection__column{
		margin-bottom: 50px;
	}
	
	.collection__row{
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	
	.collection__info{
		span{
			padding-left: 10px;
			color: rgba(153, 142, 120, 1);
		}
	}
	
	.collection__info p:first-child{
		font-size: 20px;
		display: flex;
		justify-content: center;
	}
	
	.collection__info p:last-child{
		color: rgba(156, 156, 156, 1);
		display: flex;
		justify-content: center;
		line-height: 21px;
		font-weight: 500;
		font-size: 15px;
	}
	.collection__btn a{
		padding: 21px 46px;
		color: rgba(110, 156, 159, 1);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		text-align: center;
		outline: 1px solid rgba(110, 156, 159, 1);
	}
	.info-slider{
		width: 100%;
		height: 950px;
	}
	
	.info-slider__img img{
		position: relative;
		display: flex;
		width: 420px;
		
	}
	
	.info__slider{
		position: absolute;
		bottom: 30px;
		left: 140px;
		max-width: 300px;
		margin-top: 126px;
		justify-content: center;
	}	
	
	.info__slider-info-icon-center{
		background-color: rgba(255, 255, 255, 1);
		margin-right: 25px;
		height: 4px;
		width: 30px;
		order: 2;
	}
	
	.info-slider__block-left{
		 display: flex;
	    justify-content: center;
		 margin: 0px 0px 50px 0px;
		 width: 100%;
	}
	
	
	.info__slider-info-icon-right{
		width: 30px;
		height: 4px;
		background-color: rgba(209, 209, 209, 1);
		order: 3;
		
	}
	
	.info__slider-info-icon-left{
		width: 30px;
	    margin-right: 25px;
		height: 3px;
		background-color: rgba(209, 209, 209, 1);
		order: 1;
	}
	
	.info-slider__arrow-left{
		position: absolute;
		left: 0px;
		display: none;
		top: 250px;
	}
	
	.info-slider__arrow-right{
		position: absolute;
		right: 0px;
		display: none;
		top: 250px;
	}
	
	.info-slider__shell{
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
	
	
	.info-slider__block-right{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
		p{
			max-width: 100%;
		}
	}
	
	.info-slider__info{
		h4{
			font-size: 30px;
			font-weight: 500;
			line-height: 35px;
			letter-spacing: 2%;
			margin-bottom: 25px;
		}
		a{
			color: rgba(110, 156, 159, 1);
			font-size: 23px;
		}
	}
}


@media all and (max-width: 760px){
	.header__menu{
		ul{
			display: none;
			li{
				padding-right: 45px;
				font-size: 15px;
				a{
					color: #000;
				}
			}
		}
	}
    .header{
        width: 100%;
        height: 28px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 45px;
        padding-right: 30px;
		.header__icon img{
            width: 250px;
		}
		.header__img img{
			padding-right: 16px;
			width: 38px;
		}
		span{
			font-size: 20px;
		}
		.header__icon-shop{
			img{
				width: 40px;
			}
		}
    }
	.header__block-right{
		display: none;
	}
	.header__content{
		display: flex;
		justify-content: center;
		text-align: center;
		.header__subtitle{
			margin: 45px 0px 52px 0px;
			font-size: 20px;
			letter-spacing: 2%;
			text-align: center;
			line-height: 28px;
			p{
				max-width: 600px;
			}
		}
		.header__btn{
			display: flex;
			justify-content: center;
			.header__btn-shop a{
				padding: 23.5px 54px;
				background-color: rgba(110, 156, 159, 1);
				color: #fff;
				font-size: 24px;
				text-align: center;
				letter-spacing: 3.5%;
			}
			.header__arrow-img img{
				width: 21px;
			
			}
		}
		.header__slider{
			max-width: 500px;
     	    margin-top: 126px;
	        display: none;
	        justify-content: flex-end;
		}
		.header__slider-info-icon-center{
			margin-right: 20px;
			width: 38px;
			height: 4.5px;
			background-color: #000;
			order: 2;
		}
	}
	.header__title{
		font-size: 60px;
		letter-spacing: 2%;
		font-weight: 500;
		h1{
			max-width: 585px;
		}
	}
	.header__subtitle{
		margin: 45px 0px 52px 0px;
		letter-spacing: 2%;
		text-align: center;
		line-height: 32px;
		p{
			max-width: 885px;
			font-size: 26px;
		}
	}
	.collection{
		width: 100%;
		height: 2300px;
	}
	
	.collection__content{
		padding-top: 200px;
	}
	
	.title{
		font-size: 45px;
		line-height: 44px;
		font-weight: 500;
		letter-spacing: 2%;
		margin-bottom: 92px;
	}
	
	.collection__column{
		margin-bottom: 50px;
	}
	
	.collection__row{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
	.collection__info{
		span{
			padding-left: 10px;
			color: rgba(153, 142, 120, 1);
		}
	}
	
	.collection__info p:first-child{
		font-size: 23px;
		line-height: 32px;
		display: flex;
		justify-content: center;
	}
	
	.collection__info p:last-child{
		color: rgba(156, 156, 156, 1);
		display: flex;
		justify-content: center;
		line-height: 21px;
		font-weight: 500;
		font-size: 17px;
	}
     .title{
		display: flex;
		justify-content: center;
	 }
	.info{
		display: flex;
		justify-content: center;
	}
	.info__shell{
		display: flex;
		justify-content: center;
	    text-align: center;
	}
	.info__icon--active img{
		width: 70px;
	}
	
	.info__content{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		height: 300px;
	}
	
	.info__column{
	   max-width: 305px;
	   height: 255px;
	   margin-bottom: 50px;
	}
	
	.info__info{
		font-size: 25px;
		line-height: 35px;
		letter-spacing: 2%;
		font-weight: 500;
		margin: 24px 0px 24px 0px;
	}
	
	.info__text{
		font-size: 17px;
		line-height: 140%;
		font-weight: 500;
		letter-spacing: 0.02em;
	}
	.info-slider{
		width: 100%;
		height: 950px;
	}
	
	.info-slider__img{
		position: relative;
		display: flex;
		
	}
	
	.info__slider{
		position: absolute;
		bottom: 50px;
		left: 280px;
		max-width: 300px;
		margin-top: 126px;
		display: flex;
		justify-content: center;
	}
	
	.info__slider-info-icon-center{
		background-color: rgba(255, 255, 255, 1);
		margin-right: 25px;
		height: 4px;
		width: 30px;
		order: 2;
	}
	
	.info-slider__block-left{
		 display: flex;
		 justify-content: center;
		 width: 910px;
		 margin: 0px 0px 50px 0px;
	}
	
	
	.info__slider-info-icon-right{
		width: 30px;
		height: 4px;
		background-color: rgba(209, 209, 209, 1);
		order: 3;
		margin-right: 20px;
	}
	
	.info__slider-info-icon-left{
		width: 30px;
	    margin-right: 25px;
		height: 3px;
		background-color: rgba(209, 209, 209, 1);
		order: 1;
	}
	
	.info-slider__arrow-left{
		position: absolute;
		left: 20px;
		top: 250px;
	}
	
	.info-slider__arrow-right{
		position: absolute;
		right: 20px;
		top: 250px;
	}
	
	.info-slider__shell{
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
	
	
	.info-slider__block-right{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 910px;
		p{
			max-width: 730px;
		}
	}
	
	.info-slider__info{
		h4{
			font-size: 28px;
			font-weight: 500;
			line-height: 35px;
			letter-spacing: 2%;
			margin-bottom: 25px;
		}
		p{
			font-size: 19px;
			margin-bottom: 25px;
		}
		a{
			color: rgba(110, 156, 159, 1);
			font-size: 19px;
		}
	}
	.info-slider{
		width: 100%;
		height: 950px;
	}
	
	.info-slider__img img{
		position: relative;
		display: flex;
		width: 470px;
		
	}
	
	.info__slider{
		position: absolute;
		bottom: 30px;
		left: 165px;
		max-width: 300px;
		margin-top: 126px;
		justify-content: center;
	}	
	
	.info__slider-info-icon-center{
		background-color: rgba(255, 255, 255, 1);
		margin-right: 25px;
		height: 4px;
		width: 30px;
		order: 2;
	}
	
	.info-slider__block-left{
		 display: flex;
	    justify-content: center;
		 margin: 0px 0px 50px 0px;
		 width: 100%;
	}
	
	
	.info__slider-info-icon-right{
		width: 30px;
		height: 4px;
		background-color: rgba(209, 209, 209, 1);
		order: 3;
		
	}
	
	.info__slider-info-icon-left{
		width: 30px;
	    margin-right: 25px;
		height: 3px;
		background-color: rgba(209, 209, 209, 1);
		order: 1;
	}
	
	.info-slider__arrow-left{
		position: absolute;
		left: 0px;
		display: none;
		top: 250px;
	}
	
	.info-slider__arrow-right{
		position: absolute;
		right: 0px;
		display: none;
		top: 250px;
	}
	
	.info-slider__shell{
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
	
	
	.info-slider__block-right{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
		p{
			max-width: 100%;
		}
	}
	
	.info-slider__info{
		h4{
			font-size: 30px;
			font-weight: 500;
			line-height: 35px;
			letter-spacing: 2%;
			margin-bottom: 25px;
		}
		a{
			color: rgba(110, 156, 159, 1);
			font-size: 25px;
		}
	}
	.info-slider{
		width: 100%;
		height: 950px;
	}
	
	.info-slider__img img{
		position: relative;
		display: flex;
		width: 590px;
		
	}
	
	.info__slider{
		position: absolute;
		bottom: 30px;
		left: 220px;
		max-width: 300px;
		margin-top: 126px;
		justify-content: center;
	}	
	
	.info__slider-info-icon-center{
		background-color: rgba(255, 255, 255, 1);
		margin-right: 25px;
		height: 4.5px;
		width: 30px;
		order: 2;
	}
	
	.info-slider__block-left{
		 display: flex;
	     justify-content: center;
		 margin: 0px 0px 50px 0px;
		 width: 100%;
	}
	
	
	.info__slider-info-icon-right{
		width: 30px;
		height: 4.5px;
		background-color: rgba(209, 209, 209, 1);
		order: 3;
		
	}
	
	.info__slider-info-icon-left{
		width: 30px;
	    margin-right: 25px;
		height: 4.5px;
		background-color: rgba(209, 209, 209, 1);
		order: 1;
	}
	
	.info-slider__arrow-left{
		position: absolute;
		left: 0px;
		display: none;
		top: 250px;
	}
	
	.info-slider__arrow-right{
		position: absolute;
		right: 0px;
		display: none;
		top: 250px;
	}
	
	.info-slider__shell{
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
	
	
	.info-slider__block-right{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
		p{
			max-width: 100%;
		}
	}
	
	.info-slider__info{
		h4{
			font-size: 35px;
			font-weight: 500;
			line-height: 35px;
			letter-spacing: 2%;
			margin-bottom: 25px;
		}
		a{
			color: rgba(110, 156, 159, 1);
			font-size: 25px;
		}
	}
	
}


@media all and(max-width: 672px){
	.footer__logo{
		img{
		  width: 190px;
		}
	  }
	.header__img{
		display: flex;
	}
	footer{
		width: 100%;
		height: 593px;
		background-color: rgba(241, 234, 220, 1);
	}
	
	
	.footer__shell{
		height: 363px;
		padding-top: 102px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	
	.footer__copyright{
		font-size: 16px;
		line-height: 18.2px;
		padding-bottom: 80px;
		p{
			margin-top: 60px;
		}
	}
	
	.footer__navigator{
		display: flex;
		ul{
			padding-right: 50px;
			font-size: 18px;
			h4{
				margin-bottom: 30px;
			}
			li{	
					margin-bottom: 10px;
					font-size: 17px;
			}
		}
	}
	
  .footer__navigator ul:last-child{
	padding: 0px;
  }
	.footer__contact{
		width: 100%;
		padding-top: 50px;
		display: flex;
		flex-direction: row;
		align-content: flex-end;
		text-align: right;
		justify-content: center;
		span{
			display: none;
		}
		p{
			font-size: 17px;
			
		}
	}
	
	.footer__mesenger{
		display: flex;
		justify-content: flex-end;
		img{
			padding: 0px 25px 25px 25px;
			width: 78px;
		}
	}
	
	.footer__img-m--active img{
		padding: 0px 25px 0px 25px;
	}
	
	.footer__visa{
		padding: 0px 0px 0px 0px;
		display: flex;
		align-items: center;
		img{
			width: 97px;
		}
	}
	
	.footer__text p{
		padding: 0px 20px 0px 50px;
		margin-top: 3px;
	}
	
	.footer__logo img{
		margin-top: -5px;
	}
}



@media all and(max-width: 555px){
	.footer__logo{
		img{
		  width: 190px;
		}
	  }
	.header__img{
		display: flex;
	}
	footer{
		width: 100%;
		height: 603px;
		background-color: rgba(241, 234, 220, 1);
	}
	
	
	.footer__shell{
		height: 363px;
		padding-top: 102px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	
	.footer__copyright{
		font-size: 17px;
		line-height: 20.2px;
		padding-bottom: 80px;
		p{
			margin-top: 60px;
		}
	}
	
	.footer__navigator{
		display: flex;
		ul{
			padding-right: 50px;
			font-size: 19px;
			h4{
				margin-bottom: 30px;
			}
			li{	
					margin-bottom: 10px;
					font-size: 18px;
			}
		}
	}
	
  .footer__navigator ul:last-child{
	padding: 0px;
  }
	.footer__contact{

		width: 100%;
		padding-top: 50px;
		display: flex;
		flex-direction: row;
		align-content: flex-end;
		text-align: right;
		justify-content: center;
		span{
			display: none;
		}
		p{
			font-size: 17px;
			display: none;
			
		}
	}
	
	.footer__mesenger{
		display: flex;
		justify-content: flex-end;
		img{
			padding: 0px 25px 25px 25px;
			width: 80px;
		}
	}
	
	.footer__img-m--active img{
		padding: 0px 25px 0px 25px;
	}
	
	.footer__visa{
		padding: 0px 0px 0px 0px;
		display: flex;
		align-items: center;
		img{
			width: 97px;
		}
	}
	
	.footer__text p{
		padding: 0px 20px 0px 50px;
		margin-top: 3px;
	}
	
	.footer__logo img{
		margin-top: -5px;
	}
}


@media all and(max-width: 649px){
	.info{
		width: 100%;
		height: 1060px;
	}
}

@media all and (max-width: 590px){
	header{
		height: 720px;
	}
	.header__menu{
		ul{
			display: none;
			li{
				padding-right: 45px;
				font-size: 15px;
				a{
					color: #000;
				}
			}
		}
	}
    .header{
        width: 100%;
        height: 28px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 45px;
        padding-right: 30px;
		.header__icon img{
            width: 260px;
		}
		.header__img img{
			padding-right: 16px;
			width: 38px;
			display: none;
		}
		span{
			font-size: 20px;
			display: none;
		}
		.header__icon-shop{
			img{
				width: 52px;
			}
		}
    }
	.header__block-right{
		display: none;
	}
	.header__content{
		display: flex;
		justify-content: center;
		text-align: center;
		.header__subtitle{
			margin: 45px 0px 52px 0px;
			font-size: 20px;
			letter-spacing: 2%;
			text-align: center;
			line-height: 28px;
			p{
				max-width: 600px;
			}
		}
		.header__btn{
			display: flex;
			justify-content: center;
			.header__btn-shop a{
				padding: 17.5px 38px;
				background-color: rgba(110, 156, 159, 1);
				color: #fff;
				font-size: 23px;
				text-align: center;
				letter-spacing: 2px;
			}
			.header__arrow-img img{
				width: 18.1px;
			
			}
			.header__arrow{
				order: 1;
				padding: 9.8px 21px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgba(110, 156, 159, 0.1);
			}
		}
		.header__slider{
			max-width: 500px;
     	    margin-top: 126px;
	        display: none;
	        justify-content: flex-end;
		}
		.header__slider-info-icon-center{
			margin-right: 20px;
			width: 35px;
			height: 4px;
			background-color: #000;
			order: 2;
		}
	}
	.header__title{
		font-size: 58px;
		letter-spacing: 2%;
		font-weight: 500;
		h1{
			max-width: 585px;
		}
	}
	.header__subtitle{
		margin: 45px 0px 52px 0px;
		letter-spacing: 2%;
		text-align: center;
		line-height: 32px;
		p{
			max-width: 885px;
			font-size: 26px;
		}
	}
	.info{
		display: flex;
		justify-content: center;
	}
	.info__shell{
		display: flex;
		justify-content: center;
	    text-align: center;
	}
	.info__icon--active img{
		width: 70px;
	}
	
	.info__content{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		height: 300px;
	}
	
	.info__column{
	   max-width: 305px;
	   height: 255px;
	   margin-bottom: 50px;
	}
	
	.info__info{
		font-size: 27px;
		line-height: 35px;
		letter-spacing: 2%;
		font-weight: 500;
		margin: 24px 0px 24px 0px;
	}
	
	.info__text{
		font-size: 19px;
		line-height: 140%;
		font-weight: 500;
		letter-spacing: 0.02em;
	}
	.info-slider{
		width: 100%;
		height: 950px;
	}
	
	.info-slider__img img{
		position: relative;
		display: flex;
		width: 420px;
		
	}
	
	.info__slider{
		position: absolute;
		bottom: 30px;
		left: 140px;
		max-width: 300px;
		margin-top: 126px;
		justify-content: center;
	}	
	
	.info__slider-info-icon-center{
		background-color: rgba(255, 255, 255, 1);
		margin-right: 25px;
		height: 4px;
		width: 30px;
		order: 2;
	}
	
	.info-slider__block-left{
		 display: flex;
	    justify-content: center;
		 margin: 0px 0px 50px 0px;
		 width: 100%;
	}
	
	
	.info__slider-info-icon-right{
		width: 30px;
		height: 4px;
		background-color: rgba(209, 209, 209, 1);
		order: 3;
		
	}
	
	.info__slider-info-icon-left{
		width: 30px;
	    margin-right: 25px;
		height: 3px;
		background-color: rgba(209, 209, 209, 1);
		order: 1;
	}
	
	.info-slider__arrow-left{
		position: absolute;
		left: 0px;
		display: none;
		top: 250px;
	}
	
	.info-slider__arrow-right{
		position: absolute;
		right: 0px;
		display: none;
		top: 250px;
	}
	
	.info-slider__shell{
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
	
	
	.info-slider__block-right{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
		p{
			max-width: 100%;
		}
	}
	
	.info-slider__info{
		h4{
			font-size: 30px;
			font-weight: 500;
			line-height: 35px;
			letter-spacing: 2%;
			margin-bottom: 25px;
		}
		a{
			color: rgba(110, 156, 159, 1);
			font-size: 23px;
		}
	}
	
}




@media all and(max-width: 480px){
	.footer__logo{
		img{
		  width: 190px;
		}
	  }
	.header__img{
		display: flex;
	}
	footer{
		width: 100%;
		height: 600px;
		background-color: rgba(241, 234, 220, 1);
	}
	
	
	.footer__shell{
		height: 363px;
		padding-top: 102px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	
	.footer__copyright{
		font-size: 17px;
		line-height: 20.2px;
		padding-bottom: 80px;
		p{
			margin-top: 60px;
		}
	}
	
	.footer__navigator{
		display: flex;
		ul{
			padding-right: 50px;
			font-size: 19px;
			h4{
				margin-bottom: 30px;
			}
			li{	
					margin-bottom: 10px;
					font-size: 18px;
			}
		}
	}
	
  .footer__navigator ul:last-child{
	padding: 0px;
  }
	.footer__contact{

		width: 100%;
		padding-top: 50px;
		display: flex;
		flex-direction: row;
		align-content: flex-end;
		text-align: right;
		justify-content: center;
		span{
			display: none;
		}
		p{
			font-size: 17px;
			display: none;
			
		}
	}
	
	.footer__mesenger{
		display: flex;
		justify-content: flex-end;
		img{
			padding: 0px 25px 25px 25px;
			width: 80px;
		}
	}
	
	.footer__img-m--active img{
		padding: 0px 25px 0px 25px;
	}
	
	.footer__visa{
		padding: 0px 0px 0px 0px;
		display: flex;
		align-items: center;
		img{
			width: 97px;
		}
	}
	
	.footer__text p{
		padding: 0px 20px 0px 50px;
		margin-top: 3px;
	}
	
	.footer__logo img{
		margin-top: -5px;
	}
}

@media all and(max-width: 470px){
	.header__img{
		display: flex;
	}

	.footer__logo{
      img{
		width: 200px;
	  }
	}

	footer{
		width: 100%;
		height: 453px;
		background-color: rgba(241, 234, 220, 1);
	}
	
	
	.footer__shell{
		height: 363px;
		padding-top: 102px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	
	.footer__copyright{
		font-size: 19px;
		line-height: 20.2px;
		padding-bottom: 80px;
		p{
			margin-top: 60px;
		}
	}
	
	.footer__navigator{
		display: none;
		ul{
			padding-right: 50px;
			font-size: 19px;
			h4{
				margin-bottom: 30px;
			}
			li{	
					margin-bottom: 10px;
					font-size: 18px;
			}
		}
	}
	
  .footer__navigator ul:last-child{
	padding: 0px;
  }
	.footer__contact{

		width: 100%;
		padding-top: 50px;
		display: flex;
		flex-direction: row;
		align-content: flex-end;
		text-align: right;
		justify-content: center;
		span{
			display: none;
		}
		p{
			font-size: 17px;
			display: none;
			
		}
	}
	
	.footer__mesenger{
		display: flex;
		justify-content: flex-end;
		img{
			padding: 0px 15px 25px 25px;
			width: 70px;
		}
	}
	
	.footer__img-m--active img{
		padding: 0px 15px 0px 25px;
	}
	
	.footer__visa{
		padding: 0px 0px 0px 0px;
		display: flex;
		align-items: center;
		img{
			width: 97px;
		}
	}
	
	.footer__text p{
		padding: 0px 20px 0px 50px;
		margin-top: 3px;
	}
	
	.footer__logo img{
		margin-top: -5px;
	}
}

@media all and(max-width: 450px){
	header{
		height: 700px;
	}
	.header__menu{
		ul{
			display: none;
			li{
				padding-right: 45px;
				font-size: 15px;
				a{
					color: #000;
				}
			}
		}
	}
    .header{
        width: 100%;
        height: 28px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 45px;
        padding-right: 30px;
		.header__icon img{
            width: 240px;
			padding-right: 30px;
		}
		.header__img img{
			padding-right: 16px;
			width: 38px;
			display: none;
		}
		span{
			font-size: 20px;
			display: none;
		}
		.header__icon-shop{
			img{
				width: 50px;
			}
		}
    }
	.header__block-right{
		display: none;
	}
	.header__content{
		display: flex;
		justify-content: center;
		text-align: center;
		.header__subtitle{
			margin: 45px 0px 52px 0px;
			font-size: 20px;
			letter-spacing: 2%;
			text-align: center;
			line-height: 28px;
			p{
				max-width: 600px;
			}
		}
		.header__btn{
			display: flex;
			justify-content: center;
			.header__btn-shop a{
				padding: 14.5px 25px;
				background-color: rgba(110, 156, 159, 1);
				color: #fff;
				font-size: 21px;
				text-align: center;
				letter-spacing: 1.4px;
			}
			.header__arrow-img img{
				width: 18px;
			
			}
			.header__arrow{
				order: 1;
				padding: 9.8px 21px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgba(110, 156, 159, 0.1);
			}
		}
		.header__slider{
			max-width: 500px;
     	    margin-top: 126px;
	        display: none;
	        justify-content: flex-end;
		}
		.header__slider-info-icon-center{
			margin-right: 20px;
			width: 40px;
			height: 4px;
			background-color: #000;
			order: 2;
		}
	}
	.header__title{
		font-size: 50px;
		letter-spacing: 2%;
		font-weight: 500;
		h1{
			max-width: 585px;
		}
	}
	.header__subtitle{
		margin: 45px 0px 52px 0px;
		letter-spacing: 2%;
		text-align: center;
		line-height: 32px;
		p{
			max-width: 885px;
			font-size: 21px;
		}
	}
	.info{
		display: flex;
		justify-content: center;
		height: 1150px;
	}
	.collection{
		width: 100%;
		height: 2100px;
	}
	
	.collection__content{
		padding-top: 200px;
	}
	
	.title{
		font-size: 40px;
		line-height: 44px;
		font-weight: 500;
		letter-spacing: 2%;
		margin-bottom: 92px;
	}
	
	.collection__column{
		margin-bottom: 50px;
	}
	
	.collection__row{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
	.collection__info{
		span{
			padding-left: 10px;
			color: rgba(153, 142, 120, 1);
		}
	}
	
	.collection__info p:first-child{
		font-size: 25px;
		display: flex;
		justify-content: center;
	}
	
	.collection__info p:last-child{
		color: rgba(156, 156, 156, 1);
		display: flex;
		justify-content: center;
		line-height: 21px;
		font-weight: 500;
		font-size: 18px;
	}
	.collection__img img{
		width: 300px;
	}
	.title{
	
	 text-align: center;
	}
	.info-slider{
		width: 100%;
		height: 950px;
	}
	
	.info-slider__img img{
		position: relative;
		display: flex;
		width: 300px;
		
	}
	
	.info__slider{
		position: absolute;
		bottom: 30px;
		left: 70px;
		max-width: 300px;
		margin-top: 126px;
		justify-content: center;
	}	
	
	.info__slider-info-icon-center{
		background-color: rgba(255, 255, 255, 1);
		margin-right: 25px;
		height: 4px;
		width: 30px;
		order: 2;
	}
	
	.info-slider__block-left{
		 display: flex;
	    justify-content: center;
		 margin: 0px 0px 50px 0px;
		 width: 100%;
	}
	
	
	.info__slider-info-icon-right{
		width: 30px;
		height: 4px;
		background-color: rgba(209, 209, 209, 1);
		order: 3;
		
	}
	
	.info__slider-info-icon-left{
		width: 30px;
	    margin-right: 25px;
		height: 3px;
		background-color: rgba(209, 209, 209, 1);
		order: 1;
	}
	
	.info-slider__arrow-left{
		position: absolute;
		left: 0px;
		display: none;
		top: 250px;
	}
	
	.info-slider__arrow-right{
		position: absolute;
		right: 0px;
		display: none;
		top: 250px;
	}
	
	.info-slider__shell{
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
	
	
	.info-slider__block-right{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
		p{
			max-width: 730px;
		}
	}
	
	.info-slider__info{
		h4{
			font-size: 38px;
			font-weight: 500;
			line-height: 35px;
			letter-spacing: 2%;
			margin-bottom: 26px;
		}
		a{
			color: rgba(110, 156, 159, 1);
		}
	}
}

@media all and (max-width: 380px){
	header{
		height: 800px;
	}
	.header__menu{
		ul{
			display: none;
			li{
				padding-right: 45px;
				font-size: 15px;
				a{
					color: #000;
				}
			}
		}
	}
    .header{
        width: 100%;
        height: 28px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 45px;
        padding-right: 30px;
		.header__icon img{
            width: 210px;
			padding-right: 30px;
		}
		.header__img img{
			padding-right: 16px;
			width: 38px;
			display: none;
		}
		span{
			font-size: 20px;
			display: none;
		}
		.header__icon-shop{
			img{
				width: 42px;
			}
		}
    }
	.header__block-right{
		display: none;
	}
	.header__content{
		display: flex;
		justify-content: center;
		text-align: center;
		.header__subtitle{
			margin: 45px 0px 52px 0px;
			font-size: 20px;
			letter-spacing: 2%;
			text-align: center;
			line-height: 28px;
			p{
				max-width: 600px;
			}
		}
		.header__btn{
			display: flex;
			justify-content: center;
			.header__btn-shop a{
				padding: 13.5px 25px;
				background-color: rgba(110, 156, 159, 1);
				color: #fff;
				font-size: 20px;
				text-align: center;
				letter-spacing: 1.5px;
			}
			.header__arrow-img img{
				width: 15px;
			
			}
			.header__arrow{
				order: 1;
				padding: 9.8px 21px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgba(110, 156, 159, 0.1);
			}
		}
		.header__slider{
			max-width: 500px;
     	    margin-top: 126px;
	        display: none;
	        justify-content: flex-end;
		}
		.header__slider-info-icon-center{
			margin-right: 20px;
			width: 40px;
			height: 4px;
			background-color: #000;
			order: 2;
		}
	}
	.header__title{
		font-size: 51px;
		letter-spacing: 2%;
		font-weight: 500;
		h1{
			max-width: 585px;
		}
	}
	.header__subtitle{
		margin: 45px 0px 52px 0px;
		letter-spacing: 2%;
		text-align: center;
		line-height: 32px;
		p{
			max-width: 885px;
			font-size: 21px;
		}
	}
}



@media all and (max-width: 340px){
	header{
		height: 650px;
	}
	.header__menu{
		ul{
			display: none;
			li{
				padding-right: 45px;
				font-size: 15px;
				a{
					color: #000;
				}
			}
		}
	}
    .header{
        width: 100%;
        height: 28px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 45px;
        padding-right: 30px;
		.header__icon img{
            width: 200px;
			padding-right: 30px;
		}
		.header__img img{
			padding-right: 16px;
			width: 38px;
			display: none;
		}
		span{
			font-size: 20px;
			display: none;
		}
		.header__icon-shop{
			img{
				width: 38px;
			}
		}
    }
	.header__block-right{
		display: none;
	}
	.header__content{
		display: flex;
		justify-content: center;
		text-align: center;
		.header__subtitle{
			margin: 45px 0px 52px 0px;
			font-size: 20px;
			letter-spacing: 2%;
			text-align: center;
			line-height: 28px;
			p{
				max-width: 600px;
			}
		}
		.header__btn{
			display: flex;
			justify-content: center;
			.header__btn-shop a{
				padding: 14.5px 5px;
				background-color: rgba(110, 156, 159, 1);
				color: #fff;
				font-size: 17px;
				text-align: center;
				letter-spacing: 1.5px;
			}
			.header__arrow-img img{
				width: 14px;
			}
				.header__arrow{
					order: 1;
					padding: 10.8px 18px;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: rgba(110, 156, 159, 0.1);
				}
		.header__slider{
			max-width: 500px;
     	    margin-top: 126px;
	        display: flex;
	        justify-content: flex-end;
		}
		.header__slider-info-icon-center{
			margin-right: 20px;
			width: 40px;
			height: 4px;
			background-color: #000;
			order: 2;
		}
	}
	.header__title{
		font-size: 40px;
		letter-spacing: 2%;
		font-weight: 500;
		h1{
			max-width: 585px;
		}
	}
	.header__subtitle{
		margin: 45px 0px 52px 0px;
		letter-spacing: 2%;
		text-align: center;
		line-height: 20px;
		p{
			max-width: 885px;
			font-size: 14px;
		}
	}
}
.collection{
	height: 1800px;
}
.collection__content{
	padding-top: 200px;
}

.title{
	font-size: 38px;
	line-height: 44px;
	font-weight: 500;
	letter-spacing: 2%;
	margin-bottom: 92px;
}

.collection__column{
	margin-bottom: 50px;
}

.collection__row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.collection__info{
	span{
		padding-left: 10px;
		color: rgba(153, 142, 120, 1);
	}
}

.collection__info p:first-child{
	font-size: 25px;
	display: flex;
	justify-content: center;
}

.collection__info p:last-child{
	color: rgba(156, 156, 156, 1);
	display: flex;
	justify-content: center;
	line-height: 21px;
	font-weight: 500;
	font-size: 18px;
}
.collection__img img{
	width: 250px;
	padding-left: 30px;
}
.info-slider{
	width: 100%;
	height: 950px;
}

.info-slider__img img{
	position: relative;
	display: flex;
}

.info__slider{
	position: absolute;
	bottom: 25px;
	left: 75px;
	max-width: 300px;
	margin-top: 126px;
	justify-content: center;
}	

.info__slider-info-icon-center{
	background-color: rgba(255, 255, 255, 1);
	margin-right: 25px;
	height: 4px;
	width: 30px;
	order: 2;
}

.info-slider__block-left{
	 display: flex;
	justify-content: center;
	 margin: 0px 0px 50px 0px;
	 width: 100%;
}


.info__slider-info-icon-right{
	width: 30px;
	height: 4px;
	background-color: rgba(209, 209, 209, 1);
	order: 3;
	
}

.info__slider-info-icon-left{
	width: 30px;
	margin-right: 25px;
	height: 4px;
	background-color: rgba(209, 209, 209, 1);
	order: 1;
}

.info-slider__arrow-left{
	position: absolute;
	left: 30px;
	top: 250px;
	display: none;
}

.info-slider__arrow-right{
	position: absolute;
	right: 30px;
	top: 250px;
	display: none;
}

.info-slider__arrow-right img{
   width: 40px;
}
.info-slider__arrow-left img{
	width: 40px;
 }

.info-slider__shell{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.info-slider__block-right{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	p{
		max-width: 100%;
	}
}

.info-slider__info{
	h4{
		font-size: 42px;
		font-weight: 500;
		line-height: 35px;
		letter-spacing: 2%;
		margin-bottom: 25px;
	}
	a{
		color: rgba(110, 156, 159, 1);
		font-size: 27px;
	}
}
}


